<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot and Thymeleaf example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/main.css" th:href="@{/css/main.css}"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h3>
				Spring Boot and Thymeleaf <i class="glyphicon glyphicon-apple"></i>
			</h3>
			<p th:text="'Hello, ' + ${testing} + '!'">Text will be here</p>
			<a th:href="@{/}" class="btn btn-success">Refresh</a>
		</div>
		<th:block th:each="entry: ${mymap}">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="well">
						<p th:text="'Hello, ' + ${entry.key} + '!'">The key</p>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="well">
						<p th:text="'Hello, ' + ${entry.value} + '!'">The value</p>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="well">
						<p th:text="'Hello, ' + ${entry.value} + '!'">The value again</p>
					</div>
				</div>
			</div>
		</th:block>
		<th:block th:each="entryWithListValue: ${myMapWithListValue}">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title" th:text="${entryWithListValue.key}">Panel
						title</h3>
				</div>
				<div class="panel-body"
					th:each="listEntry: ${entryWithListValue.value}">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="well">
								<p th:text="${listEntry}">List Entry</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>
	</div>
</body>
</html>